{{#each erros}}
    <div class="alert alert-danger" data-div>{{text}} <button type="button" class="btn btn-danger" data-danger>X</button> </div>
    
{{else}}

{{/each}}

<section class="container-fluid teste2">
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3">
            <form action="/add-cadastro" method="POST" class="form-container" id="form-cadastro">
                <div class="form-group">
                    <label for="exampleInputEmail">Email</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="EnterEmail@email.com">
                    <small id="emailHelp" class="form-text text-muted">Digite o email no formato email@email.com</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword" placeholder="******" data-form-input2>

                </div>
                <button class="btn btn-primary btn-block"  data-form-button2>Cadastrar</button>
                {{!-- <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> --}}
            
                
            </form>
            
        </section>
    </section>

</div>
<script src="js/cadastro-fetch.js"> </script>