
<section class="container-fluid teste2">
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3">
            <form action="/login" method="GET" class="form-container" id="form-botao-login">
                <div class="form-group">
                    <label for="exampleInputEmail">Login</label>
                    <button class="btn btn-primary btn-block" id="id-botao-login" data-form-button2>Login</button>
                </div>
            </form>
            <form action="/cadastro" method="GET" class="form-container" id="form-botao-cadastro">
                <div class="form-group">
                    <label for="exampleInputPassword1">Cadastro</label>
                    <button class="btn btn-primary btn-block"   data-form-button2>Cadastrar</button>
                </div>
            
                
            </form>
            
        </section>
    </section>
</section>
