<section class="section-principal">
        <div class="div-div">
            <div class="div-principal flex-box container-box" >
                <h1 class="welcome">𝘚𝘦𝘫𝘢 𝘣𝘦𝘮-𝘷𝘪𝘯𝘥𝘰(𝘢)!</h1>
                <p>𝘋𝘦𝘴𝘦𝘫𝘢 𝘶𝘵𝘪𝘭𝘪𝘻𝘢𝘳 𝘯𝘰𝘴𝘴𝘢 𝘓𝘪𝘴𝘵𝘢 𝘥𝘦 𝘛𝘢𝘳𝘦𝘧𝘢𝘴?</p>
                <p class="porfavor">𝘗𝘰𝘳 𝘧𝘢𝘷𝘰𝘳, 𝘢𝘱𝘦𝘳𝘵𝘦 𝘰 𝘣𝘰𝘵𝘢𝘰 𝘢 𝘴𝘦𝘨𝘶𝘪𝘳 𝘱𝘢𝘳𝘢 𝘤𝘢𝘥𝘢𝘴𝘵𝘳𝘢𝘳 𝘰𝘶 𝘭𝘰𝘨𝘢𝘳-𝘴𝘦: </p>
                <button type="button" class="btn btn-secondary btn-lg" id="join-in">Join in</button>     
            </div>
        </div>
</section>
<section class="section-secundaria"></section>
<script src="/js/home.js"></script>