<section class="section-principal">
        <div class="div-div">
            <div class="div-principal flex-box container-box" >
                <h1 class="welcome">𝘞𝘦𝘭𝘤𝘰𝘮𝘦!</h1>
                <p>𝘋𝘰 𝘺𝘰𝘶 𝘸𝘢𝘯𝘵 𝘵𝘰 𝘫𝘰𝘪𝘯 𝘪𝘯𝘵𝘰 𝘰𝘶𝘳 𝘵𝘰𝘥𝘰𝘪𝘴𝘵?</p>
                <p>𝘗𝘭𝘦𝘢𝘴𝘦 𝘱𝘳𝘦𝘴𝘴 𝘵𝘩𝘦 𝘣𝘶𝘵𝘵𝘰𝘯 𝘣𝘦𝘭𝘰𝘸:</p>
                <button type="button" class="btn btn-secondary btn-lg">Join in</button>
            
            </div>
        </div>
    </section>
    <section class="section-secundaria">

    </section>
    
    <script src="/js/teste.js"></script>