
<div class="app">
    <div class="todo-list">
      <h1 class="title">Lista de Tarefas</h1>
      
      <form class="form" action="/add-tarefa" method="POST">
        <input name="tarefaUM" class="form-input" type="text" data-form-input>
        <button class="form-button" data-form-button> Novo Item </button>

      </form>
        
        <ul class="list" data-ul>
            <li class="task" data-li>
            <p class="content">Estudar</p>
            </li>
        </ul>
</div>


