{{#each erros}}
  <div class="alert alert-danger" role="alert">{{texto}}</div>

  {{else}}

{{/each}}

<div class="app">
    <div class="todo-list">
      <h1 class="title">Lista de Tarefas</h1>
      
      <form class="form1994" id="form-tarefas">
        <input name="tarefaUM" class="form-input" "all-input" type="text" id="tarefa-input" data-form-input>
        <button class="form-button" data-form-button> Adicionar Tarefa </button>
        <input name="id_random" type="hidden" data-form-input-hidden>
      </form>
      
        
        <ul class="list" data-ul>
            {{!-- <li class="task" data-li>
            <p class="content">Estudar</p>
            </li> --}}
            {{!-- <form class="form2" action="/add-tarefa2" method="POST">
            </form> --}}
        </ul>
      </div>
        
</div>

<script src="js/tarefa-fetch.js"> </script>
<script src="js/main.js"></script>
