{{#each erros}}
    <div class="alert alert-danger" data-div>{{text}} <button type="button" class="btn btn-danger" data-danger>X</button> </div>
{{else}}

{{/each}}
<section class="section-alert"></section>

<section class="container-fluid teste2">
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3 form-all ">
            <h1 class="h1-form">ğ¿ğ‘œğ‘”ğ‘–ğ‘›</h1>
            <form class="form-container" id="form-cadastro-login">
                <div class="form-group">
                    <label for="exampleInputEmail">Email</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="email@email.com">
                    <small id="emailHelp" class="form-text text-muted">Entre com seu email@email.com</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword" placeholder="******" data-form-input2>
                </div>
                <button class="btn btn-primary btn-block" id="id-botao-login" data-form-button2>Login</button>
            </form>
        </section>
    </section>
</section>
<script type="module" src="js/login-fetch.js"> </script>